<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config/dune_example.xml</value>
            </setting>
            <setting name="ConfigFileXSD" serializeAs="String">
                <value>Config/dune.xsd</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Units</value>
            </setting>
            <setting name="Resources" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Graphics</value>
            </setting>
            <setting name="Audio" serializeAs="String">
                <value>Audio</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Maps</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>False</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>