<configuration>
	<appSettings>
		<!-- Suffix to be placed on ArrayList derived collection classes -->
        <add key="CollectionSuffix" value="Collection" />
        <!-- Prefix to be placed on public class fields (which are technically not meant to be manipulated) -->
		<add key="HiddenMemberPrefix" value="__" />
		<!-- Prefix to be placed certain xsd names that wouldn't be legal in .NET, like xsd enumerations that start with a numeric value. -->
		<add key="RenameItemPrefix" value="_" />
		<!-- Special field in a class for mixed = "true" elements.  This must be changed to something unique if a complexType has a field called Value and mixed = true. -->
		<add key="MixedElementFieldName" value="Value" />
	</appSettings>
</configuration>