<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yad.Properties.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Yad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yad.Properties.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Yad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yad.Properties.Common.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AudioMusic" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>DunePlayer</value>
            </setting>
        </Yad.Properties.Common.Settings>
        <Yad.Properties.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AudioMusic" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>DunePlayer</value>
            </setting>
        </Yad.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Yad.Properties.Common.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config/game_data.xml</value>
            </setting>
            <setting name="ConfigFileXSD" serializeAs="String">
                <value>Config/dune.xsd</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>Resources/Graphics/Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Resources/Graphics/Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Resources/Graphics/Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Resources/Graphics/Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Resources/Graphics/Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Resources/Graphics/Units</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Resources/Graphics</value>
            </setting>
            <setting name="AudioFX" serializeAs="String">
                <value>Resources/Audio/FX</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Resources/Maps</value>
            </setting>
            <setting name="Delta" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TurnLength" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="KeepAliveTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="KeepAliveInterval" serializeAs="String">
                <value>15000</value>
            </setting>
        </Yad.Properties.Common.Settings>
        <Yad.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config/dune_example.xml</value>
            </setting>
            <setting name="ConfigFileXSD" serializeAs="String">
                <value>Config/dune.xsd</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>Resources/Graphics/Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Resources/Graphics/Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Resources/Graphics/Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Resources/Graphics/Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Resources/Graphics/Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Resources/Graphics/Units</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Resources/Graphics</value>
            </setting>
            <setting name="AudioFX" serializeAs="String">
                <value>Resources/Audio/FX</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Resources/Maps</value>
            </setting>
            <setting name="Delta" serializeAs="String">
                <value>3</value>
            </setting>
        </Yad.Properties.Settings>
    </applicationSettings>
</configuration>