<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yad.Properties.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Yad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yad.Properties.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Yad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Yad.Properties.Client.Settings>
            <setting name="Animations" serializeAs="String">
                <value>Resources/Graphics/Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Resources/Graphics/Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Resources/Graphics/Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Resources/Graphics/Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Resources/Graphics/Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Resources/Graphics/Units</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Resources/Graphics</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Resources/Maps</value>
            </setting>
            <setting name="TextureDunes" serializeAs="String">
                <value>Dunes.png</value>
            </setting>
            <setting name="TextureMountain" serializeAs="String">
                <value>Mountain.png</value>
            </setting>
            <setting name="TextureRock" serializeAs="String">
                <value>Rock.png</value>
            </setting>
            <setting name="TextureRockDamage" serializeAs="String">
                <value>RockDamage.png</value>
            </setting>
            <setting name="TextureRockExt" serializeAs="String">
                <value>RockExt.png</value>
            </setting>
            <setting name="TextureSand" serializeAs="String">
                <value>Sand.png</value>
            </setting>
            <setting name="TextureHidden" serializeAs="String">
                <value>Hidden.png</value>
            </setting>
            <setting name="TextureSandDamage" serializeAs="String">
                <value>SandDamage.png</value>
            </setting>
            <setting name="TextureSandExt" serializeAs="String">
                <value>SandExt.png</value>
            </setting>
            <setting name="TextureSpice" serializeAs="String">
                <value>Spice.png</value>
            </setting>
            <setting name="TextureThickSpice" serializeAs="String">
                <value>ThickSpice.png</value>
            </setting>
            <setting name="UI" serializeAs="String">
                <value>Resources/Graphics/UI</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="MusicFight" serializeAs="String">
                <value>Resources/Audio/Music/Fight</value>
            </setting>
            <setting name="MusicPeace" serializeAs="String">
                <value>Resources/Audio/Music/Peace</value>
            </setting>
            <setting name="MusicLose" serializeAs="String">
                <value>Resources/Audio/Music/Lose</value>
            </setting>
            <setting name="MusicWin" serializeAs="String">
                <value>Resources/Audio/Music/Win</value>
            </setting>
            <setting name="CreditsDigitsBitmap" serializeAs="String">
                <value>CreditsDigits.png</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>Resources/Audio/FX/</value>
            </setting>
            <setting name="SoundMisc" serializeAs="String">
                <value>Resources/Audio/FX/Misc/</value>
            </setting>
        </Yad.Properties.Client.Settings>
        <Yad.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config/game_data.xml</value>
            </setting>
            <setting name="ConfigFileXSD" serializeAs="String">
                <value>Config/dune.xsd</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>Resources/Graphics/Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Resources/Graphics/Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Resources/Graphics/Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Resources/Graphics/Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Resources/Graphics/Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Resources/Graphics/Units</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Resources/Graphics</value>
            </setting>
            <setting name="AudioFX" serializeAs="String">
                <value>Resources/Audio/FX</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Resources/Maps</value>
            </setting>
            <setting name="TextureDunes" serializeAs="String">
                <value>Dunes.png</value>
            </setting>
            <setting name="TextureMountain" serializeAs="String">
                <value>Mountain.png</value>
            </setting>
            <setting name="TextureRock" serializeAs="String">
                <value>Rock.png</value>
            </setting>
            <setting name="TextureRockDamage" serializeAs="String">
                <value>RockDamage.png</value>
            </setting>
            <setting name="TextureRockExt" serializeAs="String">
                <value>RockExt.png</value>
            </setting>
            <setting name="TextureSand" serializeAs="String">
                <value>Sand.png</value>
            </setting>
            <setting name="TextureHidden" serializeAs="String">
                <value>Hidden.png</value>
            </setting>
            <setting name="TextureSandDamage" serializeAs="String">
                <value>SandDamage.png</value>
            </setting>
            <setting name="TextureSandExt" serializeAs="String">
                <value>SandExt.png</value>
            </setting>
            <setting name="TextureSpice" serializeAs="String">
                <value>Spice.png</value>
            </setting>
            <setting name="TextureThickSpice" serializeAs="String">
                <value>ThickSpice.png</value>
            </setting>
            <setting name="UI" serializeAs="String">
                <value>Resources/Graphics/UI</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="MusicFight" serializeAs="String">
                <value>Resources/Audio/Music/Fight</value>
            </setting>
            <setting name="MusicPeace" serializeAs="String">
                <value>Resources/Audio/Music/Peace</value>
            </setting>
            <setting name="MusicLose" serializeAs="String">
                <value>Resources/Audio/Music/Lose</value>
            </setting>
            <setting name="MusicWin" serializeAs="String">
                <value>Resources/Audio/Music/Win</value>
            </setting>
        </Yad.Properties.Settings>
        <Client.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>Config/dune_example.xml</value>
            </setting>
            <setting name="ConfigFileXSD" serializeAs="String">
                <value>Config/dune.xsd</value>
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>Resources/Graphics/Animations</value>
            </setting>
            <setting name="Bullets" serializeAs="String">
                <value>Resources/Graphics/Bullets</value>
            </setting>
            <setting name="Pictures" serializeAs="String">
                <value>Resources/Graphics/Pictures</value>
            </setting>
            <setting name="Structures" serializeAs="String">
                <value>Resources/Graphics/Structures</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Resources/Graphics/Terrain</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>Resources/Graphics/Units</value>
            </setting>
            <setting name="Graphics" serializeAs="String">
                <value>Resources/Graphics</value>
            </setting>
            <setting name="AudioFX" serializeAs="String">
                <value>Resources/Audio/FX</value>
            </setting>
            <setting name="Maps" serializeAs="String">
                <value>Resources/Maps</value>
            </setting>
            <setting name="TextureDunes" serializeAs="String">
                <value>Dunes.png</value>
            </setting>
            <setting name="TextureMountain" serializeAs="String">
                <value>Mountain.png</value>
            </setting>
            <setting name="TextureRock" serializeAs="String">
                <value>Rock.png</value>
            </setting>
            <setting name="TextureRockDamage" serializeAs="String">
                <value>RockDamage.png</value>
            </setting>
            <setting name="TextureRockExt" serializeAs="String">
                <value>RockExt.png</value>
            </setting>
            <setting name="TextureSand" serializeAs="String">
                <value>Sand.png</value>
            </setting>
            <setting name="TextureHidden" serializeAs="String">
                <value>Hidden.png</value>
            </setting>
            <setting name="TextureSandDamage" serializeAs="String">
                <value>SandDamage.png</value>
            </setting>
            <setting name="TextureSandExt" serializeAs="String">
                <value>SandExt.png</value>
            </setting>
            <setting name="TextureSpice" serializeAs="String">
                <value>Spice.png</value>
            </setting>
            <setting name="TextureThickSpice" serializeAs="String">
                <value>ThickSpice.png</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Yad.Properties.Client.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>DunePlayer</value>
            </setting>
            <setting name="PowerAtStart" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PowerLowBorder" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CreditsAtStart" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="OptionsTexture" serializeAs="String">
                <value>options.png</value>
            </setting>
            <setting name="SoundDefaultVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MusicDefaultVolume" serializeAs="String">
                <value>50</value>
            </setting>
        </Yad.Properties.Client.Settings>
        <Yad.Properties.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AudioMusic" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>DunePlayer</value>
            </setting>
        </Yad.Properties.Settings>
        <Client.Properties.Settings>
            <setting name="UseSafeRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AudioMusic" serializeAs="String">
                <value>Resources/Audio/Music</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>DunePlayer</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>
